/* Primary color is CYAN(300,700,900) */

body{
	background-color: #000000;
}


.dark-primary-color    	{ background: #006064; }
.default-primary-color 	{ background: #0097A7; }
.light-primary-color   	{ background: #4DD0E1; }
.text-primary-color    	{ color: #FFFFFF; }
.accent-color          	{ background: #FF4081; }
.primary-text-color    	{ color: #212121; }
.secondary-text-color  	{ color: #757575; }
.divider-color         	{ border-color: #BDBDBD; }
.default-secondary-color{ color: #ED4783; }
