/* Primary color is CYAN(300,700,900) */
html {
    font-size: 16px;
    
}

body {
	/*background-color: #000000;*/
	font-family: 'Open Sans', sans-serif;
    
}

header {
    position: fixed;
    top: 0;
    z-index: 1;
	overflow: hidden;
	width: 100%;
	height: 56px;
    margin: 0;
	padding: 0;
    border: 0;
    box-shadow: 0px 0px 8px #000000;
}

.main-div {
    position: absolute; /*default*/
    top: 56px;
    left: 0px;
    margin: 0;
    padding: 2%;
    
}

a {
	text-decoration: none;
}

a:hover {
    color:blue;
}

.toolbar {
	width: 100%;
	height: inherit;
	/*background-color:none;*/

}

.toolbar-left {
    float: left;
    width: 45%;
    height: inherit;
    padding: 2px;
}

/* The main menu elements */
.toolbar-left a {
    float: left;
    display: inline-block;
    padding: 17.5px;
    color: #90e0E0;
    height: inherit;
    
}

.toolbar-left a:hover {
    color: aliceblue;
}

.toolbar-right {
    float: right;
    width: 45%;
    height: inherit;
}

.toolbar-right i {
    position: static;
    float: right;
    display: inline-block;
    font-size: 24px;
    color: aliceblue;
    padding: 16px;
}

.toolbar-right input {
    position: static;
    float: right;
    background-color: aliceblue;
    width: 25%;
    margin: 17px;
    padding: 2px;
    padding-left: 12px;
    padding-right: 12px;
    border: none;
    border-radius: 12px;
}

.today-meal-title {
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 15px;
    
}

.today-meal-content {
    display: flex;
    flex-wrap: wrap;
    
}

.today-meal-content div img {
    margin: 2px;;
    border: none;
    border-radius: 20px;
    
}

#summary {
    color: aliceblue;
    
}

#shop-list {
    
}

#data {
    
}

#learn {
    
}



#more-icon {
    
}

#notifications-icon {
    
}

#profile-icon {
    
}

#search-box {
    
}

#add-button {
    position: fixed;
    top: 1rem;
    left: 47%;
    
}




/*COLORS*/
.dark-primary-color    	{ background: #006064; }
.default-primary-color 	{ background: #0097A7; }
.light-primary-color   	{ background: #4DD0E1; }
.text-primary-color    	{ color: #FFFFFF; }
.accent-color          	{ background: #FF4081; }
.primary-text-color    	{ color: #212121; }
.secondary-text-color  	{ color: #90e0E0; }
.divider-color         	{ border-color: #BDBDBD; }
.default-secondary-color{ color: #ED4783; }
