/* Primary color is CYAN(300,700,900) */

html {
    font-size: 16px;
    
}
body {
	/*background-color: #000000;*/
	font-family: 'Open Sans', sans-serif;
	background-color:$mycolor;
}

header {
	position: fixed;
	top: 0;
	z-index: 1;
	overflow: visible;
	width: 100%;
	height: 56px;
	margin: 0;
	padding: 0;
	border: 0;
	box-shadow: 0px 0px 8px #000000;
}

footer nav {
	display: inline-block;
	margin: 10px 30px;
}

footer nav a {
	display: block;
	
}

.main-div {
    position: static; /*default*/
    margin: 56px 0px 0px 0px;
    padding: 2%;
    
}

a {
	text-decoration: none;
}

a:hover {
    color:blue;
}

.toolbar {
	width: 100%;
	height: inherit;
	/*background-color:none;*/
	
}

.toolbar-left {
	float: left;
    width: 40%;
    margin: 18.5px 12px;
}

/* The main menu elements */
.toolbar-left a {
	position: static;
	float: left;
    display: inline-block;
	margin: 0px;
    padding: 0px 12px;
    color: #90e0E0;
    
}

.toolbar-left a:hover {
    color: aliceblue;
}

.toolbar-right {
    float: right;
    width: 40%;
	/* 16 * 2 + 24 = 56 */
	margin: 16px 12px;
}

.toolbar-right i {
	position: static;
    float: right;
    display: inline-block;
	margin: 0px;
    padding: 0px 12px;
	/* Size of icons */
    font-size: 24px;
    color: aliceblue;
}

.toolbar-right input {
	position: static;
    float: right;
	display: inline-block;
    width: 25%;
    margin: 3px 12px;
    padding: 0px 12px;
    border: none;
    border-radius: 12px;
    background-color: aliceblue;
}

.today-meal-title {
    font-size: 24px;
    padding: 10px 0px 5px 10px;
}

.today-meal-content {
    display: flex;
	flex-flow: row wrap;
	padding: 10px 0px 30px 0px;
}

.today-meal-content div {
    width: 200px;
	height: 300px;
    margin: 2px;
    border: none;
    border-radius: 20px;
	background-repeat: no-repeat;
 	/*background-image: url("../random-image.jpg");*/
	background-image: url("https://source.unsplash.com/random/300x400");
	
	
}

#summary {
    
}

#shop-list {
    
}

#data {
    
}

#learn {
    
}



#more-icon {
    
}

#notifications-icon {
    
}

#profile-icon {
    
}

#search-box {
    
}

#add-button {
    position: fixed;
    top: 1rem;
    left: 47%;
	
    
}

/*COLORS*/
.dark-primary-color    	{ background: #006064; }
.default-primary-color 	{ background: #0097A7; }
.light-primary-color   	{ background: #4DD0E1; }
.text-primary-color    	{ color: #FFFFFF; }
.accent-color          	{ background: #FF4081; }
.primary-text-color    	{ color: #212121; }
.secondary-text-color  	{ color: #90e0E0; }
.divider-color         	{ border-color: #BDBDBD; }
.default-secondary-color{ color: #ED4783; }