/* Primary color is CYAN(300,700,900) */
html {
    
}

body {
	/*background-color: #000000;*/
	font-family: 'Open Sans', sans-serif;
    
    
}

header {
    position: fixed;
    z-index: 1;
	overflow: hidden;
	width: 100%;
	height: 56px !important;
    margin: 0px;
	padding: 0px;
    
}

a:link {
	text-decoration: none;
}

.toolbar {
	width: 100%;
	height: inherit;
	/*background-color:none;*/

}

.toolbar-left {
    float: left;
    width: 45%;
    height: inherit;
}

.toolbar-left a {
    background-color: red;
    vertical-align: bottom;
}

.toolbar-middle {
    float: left;
    width: 10%;
    height: inherit;
}

.toolbar-right {
    float: right;
    width: 45%;
    height: inherit;
}

.main-div {
    position:relative;
}

.toolbar-left a{
    vertical-align: baseline;
}


#add-button {
    position: fixed;
    top: 1rem;
    left: 47.5%;
}




/*COLORS*/
.dark-primary-color    	{ background: #006064; }
.default-primary-color 	{ background: #0097A7; }
.light-primary-color   	{ background: #4DD0E1; }
.text-primary-color    	{ color: #FFFFFF; }
.accent-color          	{ background: #FF4081; }
.primary-text-color    	{ color: #212121; }
.secondary-text-color  	{ color: #757575; }
.divider-color         	{ border-color: #BDBDBD; }
.default-secondary-color{ color: #ED4783; }
